<%= form_for [user, watchlist] do |f| %>

  <% if watchlist.errors.any? %>
    <ul>
    <% watchlist.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :description %>
  <%= f.text_area :description %><br>
  <%= f.submit %>

<% end %>
