<h1><%= current_user.username %>'s Watchlists</h1>
<% if @watchlists.count == 0 %>
  <p>You don't have any watchlists! <%= link_to "Create One", new_watchlist_path %> to start adding shows!</p>
<% else %>
  <% alphebetize(@watchlists).each do |watchlist| %>
    <p><%= link_to watchlist.name, user_watchlist_path(current_user, watchlist) %></p>
  <% end %>
<% end %>
<hr>

<p>Favorite Shows</p>
<% @favorites.each do |show| %>
<p> <%= link_to show.title, show_path(show) %></p>
<% end %>
<button><%= link_to "Create a new Watchlist", new_user_watchlist_path(current_user) %></button>
<button><%= link_to "Add Shows", shows_path %></button>
<br>
<br>
<%= link_to "See All of My Shows", user_shows_path(current_user) %></p>
<%= form_tag(user_shows_behind_path(current_user), method: "get") do %>
  <%= submit_tag("Shows I'm Behind On") %>
<% end %>
