<h1><%= @watchlist.name %></h1>
<p><em><%= @watchlist.description %></em></p>
<ul>
  <% @shows.each do |show| %>
    <li><%= link_to show.title, show_path(show) %></li>
  <% end %>
</ul>
<br>
<%= link_to "Edit this Watchlist", edit_user_watchlist_path(current_user, @watchlist) %><br>
<%= link_to "Back to All Watchlists", user_watchlists_path(current_user) %>
<%= form_tag(watchlist_path, method: "delete") do %>
<%= submit_tag "Delete Watchlist" %>
<% end %>
