<h1><%= current_user.username %>'s Stations</h1>
<% alphebetized_stations.each do |station| %>
  <p><%= link_to station.name, station_path(station) %></p>
<% end %>

<hr>

<p>Favorite Shows</p>
<% StationShow.favorites.each do |show| %>
<p> <%= link_to show.title, show_path(show) %></p>
<% end %>
<button><%= link_to "Create a new Station", new_station_path %></button>
<button><%= link_to "Add Shows", shows_path %></button>
