<h1>Sign Up for Bingeworthy</h1>
<% if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>
<%= form_for @user do |f| %>
  <%= f.label :email %>: <%= f.text_field :email %><br>
  First and Last Name: <%= f.text_field :username %><br>
  <%= f.label :password %>: <%= f.password_field :password %><br>
  <%= f.label :password_confirmation %>: <%= f.password_field :password_confirmation %><br>
  <%= f.submit "Create my account" %>
<% end %>
