<h1>Edit</h1>
<%= form_for @my_show, action: '/my_show' do |f| %>
  <%= f.label "Change Station" %>
  <%= f.collection_select :station_id, Station.order('name ASC').where(user_id: current_user.id), :id, :name, :include_blank => true %><br>
  <%= f.label "Your Viewing Status" %>
  <%= f.text_field :user_status %><br>
  <%= f.label "What Season Are You On" %>
  <%= f.number_field :user_season %><br>
  <%= f.check_box :fav %> Fav? <br>
  <%= f.hidden_field :show_id, value: @my_show.show_id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit %>
<% end %>
