<h1>Add <%= @listing.show.title %> to Your Watchlist</h1>
<%= form_for @listing do |f| %>
  <%= f.label :watchlist %>
  <%= f.collection_select :watchlist_id, current_user.watchlists.order('name ASC'), :id, :name, :include_blank => true %><br>
  <%= f.label :user_status %>
  <%= f.text_field :user_status %><br>
  <%= f.label :user_season %>
  <%= f.number_field :user_season %><br>
  <%= f.check_box :fav %> Fav? <br>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :show_id, value: @listing.show.id %>
  <%= f.submit %>
<% end %>
