<h1>Create a New Show</h1>
<% if @show.errors.any? %>
  <ul>
  <% @show.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>
<%= form_for(@show) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <%= f.label "Show Description" %>
  <%= f.text_area :description %><br>
  <%= f.label :channel %>
  <%= f.collection_select :channel_id, Channel.order('name ASC'), :id, :name, :include_blank => true %> or <br>
  Create a new channel:
  <%= f.fields_for :channel_attributes do |channel_fields| %>
    <%= channel_fields.text_field :name %>
  <% end %>
  <br>
  <%= f.label :day %>
  <%= f.select(:day, options_for_select(['Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun']), { include_blank: true }) %>
  <br>
  <%= f.label :time %>
  <%= f.text_field :time %><br>
  <%= f.label :current_season %>
  <%= f.number_field :current_season %><br>
  <%= f.label :genre %><br>
  <%= f.collection_check_boxes :genre_ids, Genre.order('name ASC'), :id, :name %> <br>
  Create a new genre:
  <%= f.fields_for :genres, @show.genres.build do |genre_fields| %>
    <%= genre_fields.text_field :name %>
  <% end %>
  <hr>
  Add this Show to Your Station:
  <%= f.fields_for :station_shows, @station_shows do |station_form| %>
    <%= station_form.collection_select :station_id, Station.order('name ASC').where(user_id: current_user.id), :id, :name, :include_blank => true %><br>
    <%= station_form.label "Your Viewing Status" %>
    <%= station_form.text_field :user_status %><br>
    <%= station_form.label "What Season Are You On" %>
    <%= station_form.number_field :user_season %><br>
    <%= station_form.check_box :fav %> Fav? <br>
    <%= station_form.hidden_field :user_id, value: current_user.id %>
  <% end %>
<br>
<br>
<%= f.submit %>
<% end %>
