<h1><%= @show.title %></h1>
<p><%= @show.description %></p>
<p><strong>Genres:</strong>
  <ul>
  <% @show.genres.each do |genre| %>
    <li><%= link_to genre.name, genre_path(genre) %></li>
  <% end %>
  </ul>
</p>
<p><strong>Channel: </strong><%= link_to @show.channel.name, channel_path(@show.channel) %></p>
<p><strong>Day: </strong><%= @show.day %></p>
<p><strong>Time: </strong><%= @show.time %></p>
<p><strong>Current Season: </strong><%= @show.current_season %></p>
<hr>
<%= watchlist_options(@listings, @show) %>
<%= link_to "Add to A Watchlist", new_show_listing_path(@show) %>
<hr>
<%= link_to "Back to Shows", shows_path %> <br>

<% if @show.created_by == current_user.id %>
  <%= link_to "Update show details", edit_show_path(@show) %>
<% end %>
