<h1><%= @show.title %></h1>
<p><%= @show.description %></p>
<p><strong>Genres:</strong>
  <ul>
  <% @show.genres.each do |genre| %>
    <li><%= link_to genre.name, genre_path(genre) %></li>
  <% end %>
  </ul>
</p>
<p><strong>Channel: </strong><%= link_to @show.channel.name, channel_path(@show.channel) %></p>
<p><strong>Day: </strong><%= @show.day %></p>
<p><strong>Time: </strong><%= @show.time %></p>
<p><strong>Current Season: </strong><%= @show.current_season %></p>
<hr>
<%= link_to "Back to Shows", shows_path %>
<p>Stations</p>
<% station_count = @show.station_shows.where(user_id: current_user.id).count %>
<% if station_count == 0 %>
<p><%= @show.title %> is not currently in any of your stations!</p>
  <strong>Add To My Station</strong>
  <%= form_for StationShow.new, method: 'POST', action: '/station_show' do |f| %>
  <%= f.collection_select :station_id, Station.order('name ASC').where(user_id: current_user.id), :id, :name, :include_blank => true %><br>
  <%= f.label "Your Viewing Status" %>
  <%= f.text_field :user_status %><br>
  <%= f.label "What Season Are You On" %>
  <%= f.number_field :user_season %><br>
  <%= f.check_box :fav %> Fav? <br>
  <%= f.hidden_field :show_id, value: @show.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit %>
  <% end %>
<% else %>
<p><%= @show.title %> is in <%= station_count %> of your stations:</p>
<ul>
  <% @show.station_shows.where(user_id: current_user.id).each do |user_stations| %>
    <li><%= link_to user_stations.station.name, station_path(user_stations.station) %><br>
        Status: <%= user_stations.user_status %><br>
        Season You're On: <%= user_stations.user_season %>
        </li>
  <% end %>
</ul>

<strong>Add To Another Station</strong>
<%= form_for StationShow.new, method: 'POST', action: '/station_show' do |f| %>
<%= f.collection_select :station_id, Station.order('name ASC').where(user_id: current_user.id), :id, :name, :include_blank => true %><br>
<%= f.label "Your Viewing Status" %>
<%= f.text_field :user_status %><br>
<%= f.label "What Season Are You On" %>
<%= f.number_field :user_season %><br>
<%= f.check_box :fav %> Fav? <br>
<%= f.hidden_field :show_id, value: @show.id %>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.submit %>
<% end %>
<strong>Remove this Show from my Station</strong>
<%= form_for StationShow.new, method: "delete", action: '/station_shows' do |f| %>
<%= f.collection_select :station_id, Station.order('name ASC').joins(:shows).where(:stations => {user_id: current_user.id}).where(:shows => {id: @show.id}), :id, :name, :include_blank => true %><br>
<%= f.hidden_field :show_id, value: @show.id %>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.submit "Delete Show From Station" %>
<% end %>
<% end %>
<% if @show.created_by == current_user.id %>
  <p>Edit</p>
  <%= link_to "Update show details", edit_show_path(@show) %>
<% end %>
