<h1><%= @show.title %></h1>
<p><%= @show.description %></p>
<p><strong>Genres:</strong>
  <ul>
  <% @show.genres.each do |genre| %>
    <li><%= link_to genre.name, genre_path(genre) %></li>
  <% end %>
  </ul>
</p>
<p><strong>Channel: </strong><%= link_to @show.channel.name, channel_path(@show.channel) %></p>
<p><strong>Day: </strong><%= @show.day %></p>
<p><strong>Time: </strong><%= @show.time %></p>
<p><strong>Current Season: </strong><%= @show.current_season %></p>
<hr>
<% if @station_shows.count > 0 %>
  <% @station_shows.each do |station_show| %>
    Station: <%= link_to station_show.station.name, station_path(station_show.station) %><br>
    User Status: <%= station_show.user_status %><br>
    User Season: <%= station_show.user_season %><br>
    <%= link_to "Edit Station Details", edit_show_station_show_path(@show, station_show) %><br>
    <%= form_tag(station_show_path, method: "delete") do %>
    <%= hidden_field_tag :station_show_id, station_show.id %>
    <%= submit_tag "Remove This Show from This Station" %>
    <% end %>
    <br>
  <% end %>
  <%= link_to "Add to Another New Station", new_show_station_show_path(@show) %>
<% else %>
  <%= link_to "Add to A Station", new_show_station_show_path(@show) %>
<% end %>
<hr>
<%= link_to "Back to Shows", shows_path %> <br>
<% if @show.created_by == current_user.id %>
  <%= link_to "Update show details", edit_show_path(@show) %>
<% end %>
